.car-container {
    background-color: #7C8685;

    opacity: 80%;
    width: 500px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    transition: scale 0.3s ease-out;
    transition: opacity 0.3s ease;
    transition: backgfround-color 0.3s ease;
    scale: 1;
  }

  .car-container:hover {
    opacity: 85%;
    background-color: #9ca6a5;
    scale: 1.01;
  }
  
 
  .details-title {
    color: #E3311D;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
 
  
  .details-price {
    color: #050507;
    font-size: 16px;
  }
  
 
  
  .details-button {
    background-color: #99a1a1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .details-button:hover {
    background-color: #E3311D;
  }
  
  .details-button:focus {
    outline: none;
  }